{% extends 'base.html' %}

{% block content %}
   {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %}
               {{ error }}    
           {% endfor %}
       {% endfor %}
   {% endif %}
<div class="container p-4 border rounded bg-light shadow my-4 border-dark w-25 h-30">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Request Password Reset Link</button>
    </form>
</div>
    {% endblock %}
