{% extends 'base.html' %}


{% block title %}Homepage{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <h1>Hello {{ request.user.profile.name }}</h1>
        <h1>Welcome to HobbySite.</h1>

    {% else %}
        <h1>Welcome to HobbySite.</h1>
        <h4><a href="{% url 'login' %}">Already have an account? Sign up here.</a></h4>
        <h4><a href="{% url 'accounts:register' %}">Want to create a new account? Register here.</a></h4>
    {% endif %}

    <hr>

    <h2>About HobbySite</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, recusandae mollitia delectus unde exercitationem repudiandae eos ab hic quod rerum accusamus optio commodi atque veritatis debitis fugit soluta inventore eaque?</p>
{% endblock %}