{% extends 'base.html' %}


{% block content %}
    {% if request.user.is_authenticated %}
        <h1>Hello {{ request.user.profile.name }}</h1>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <h1>Want to login?</h1>
        <a href="{% url 'login' %}">Login</a>
        <br>
        <h1>Need to create a new account?</h1>
        <a href="{% url 'accounts:register' %}">Register</a>
    {% endif %}

<h3>All our Apps</h3>
    <a href="{% url 'merchstore:merchstore-list' %}">Go to merchstore</a>
    <br>
    <a href="{% url 'blog:articles-list' %}">Go to blog</a>
    <br>
    <a href="{% url 'commissions:commissions-list' %}">Go to commissions</a>
    <br>
    <a href="{% url 'forum:threads-list' %}">Go to forum</a>
    <br>
    <a href="{% url 'wiki:articles-list' %}">Go to wiki</a>
    <br>
    {% if user.is_authenticated %}
        <a href="{% url 'user_management:profile' username=user.username %}">Go to profile</a>
        <br>
    {% endif %}
{% endblock %}