{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.title }} edit{% endblock %}

{% block content %}
    <div class="container app-content">
        <h3>Edit my thread</h3>
        <hr>

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit">Post</button>
    </form>

    <br>
    <a class="btn btn-primary rounded-pill" href="{% url 'forum:threads-list' %}">Back to thread List</a>


    </div>
    
{% endblock %}