{% extends 'base.html' %}
{% load static %}

{% block title %}Forum{% endblock %}

{% block content %}
    <div class="header">
        <h1 class="header-brand">💬 Welcome to Forum!</h1>
    </div>
       
    <div class="container-fluid mx-0 app-content">
        {% if user.is_authenticated %}
            <div class="container">
                <hr>
                <h3 class="row category-header">Your Threads</h3>
                <hr>

                {% if object_list %}
                    {% for thread in object_list %}
                        {% if request.user.profile == thread.author %}
                            <li class="row mb-2">
                                <a class="col-sm-10 btn btn-item" href="{{ thread.get_absolute_url }}">{{ thread.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>You have not written any threads.</p>
                {% endif %}

                <div class="row">
                        <a class="col-sm-4 offset-4 btn btn-primary mt-5" href="{% url 'forum:thread-add' %}"> Create a new Thread </a>
                </div>
            </div>
            
        {% endif %}

        <div class="container">
            <hr>
            <h3 class="row category-header">All Threads</h3>
            <hr>
            {% for category in grouped_threads %}
                <br>
                <h4>{{ category.name }}</h4>
                <ul>
                    {% for thread in category.thread_set.all %}
                        {% if request.user.profile != thread.author %}
                            <li class="row mb-2"><a class="col-sm-10 btn btn-item" href="{{ thread.get_absolute_url }}">{{ thread.title }}</a></li>
                        {% endif %}
                        {% empty %}
                            <li>No threads in this category.</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}
