{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <h2>{{ object.title }}</h2>
    <p>Category: {{ object.category }} | Created On: {{ object.created_on }} | 
        Updated On: {{ object.updated_on }} | Created By: {{ object.author.name }}</p>
    <p>{{ object.entry }} </p>

    {% if object.image %}
        <img src="{{ object.image.url }}" alt="Thread image" style="max-width: 100%;">
    {% endif %}
    <br>
    {% if user.is_authenticated and object.author.name == user.username %}
        <a href="{% url 'forum:thread-edit' thread.pk %}">Edit Thread</a>
    {% endif %}
    <hr>

    <h4>Comments:</h4>
    {% for comment in comments %}
    <p>From: {{ comment.author.name }} | Created: {{ comment.created_on }} | Updated: {{ comment.updated_on }} </p>
    <p>- {{ comment.entry }}</p>
    {% empty %}
    <p>- Be the first to add a comment! </p>
    <br>
    {% endfor %}
    {% if request.user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    {% else %}
        <p>You must be logged in.</p>
    {% endif %}
    <hr>

    <h4>Some related <u>{{ object.category.name }}</u> threads:</h4>
    <ul>
    {% for thread in related_threads %}
    <li>
        <a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a>
    </li>
    {% empty %}
    <li>No other threads in this category.</li>
    {% endfor %}
    </ul>
    <br>
    <a href="{% url 'forum:threads-list' %}">Back to Thread List</a>
    <br>

{% endblock %}

