{% extends 'base.html' %}
{% load static %}

{% block title %}Create a new thread{% endblock %}

{% block content %}

    <div class="container app-content">
        <h3>Create a new threwad</h3>
        <hr>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Post</button>
        </form>

        <br>
        <a class="btn btn-primary rounded-pill" href="{% url 'forum:threads-list' %}">Back to thread list</a>


    </div>
   
{% endblock %}