{% extends 'base.html' %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div class="header">
        <h1 class="header-brand">Welcome to Blog!</h1>
    </div>

    <div class="container-fluid mx-0 app-content">
        <div class="container">
            <hr>
            <h3 class="row category-header">Your Articles</h3>
            <hr>

            {% if user_articles %}
                <u1>
                    {% for article in user_articles %}
                    <li class="row mb-2">
                        <a class="col-sm-10 btn btn-item" href="{{ article.get_absolute_url }}">{{ article }}</a>
                    </li>
                    {% endfor %}
                </u1>
            {% else %}
                <p>You have not written any articles.</p>
            {% endif %}
       
            <div class="row">
                <a class="col-sm-4 offset-4 btn btn-primary mt-5" href="{% url 'blog:article-add' %}"> Create a new Article </a>
            </div>
        </div>

        <div class="container">
            <hr>
            <h3 class="row category-header">All Articles</h3>
            <hr>
            {% for category in categories %}
                <br>
                <h4>{{ category }}</h4>
                <ul>
                    {% for article in other_articles %}
                        {% if article.category == category %}
                            <li class="row mb-2"><a class="col-sm-10 btn btn-item" href="{{ article.get_absolute_url }}">{{ article }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}
