{% extends 'base.html' %}
{% load static %}

{% block title %}{{ form_title }}{% endblock %}

{% block content %}
    <div class="container app-content">
        <h3>{{ form_title }}</h3>
        <hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Post Image</button>
        </form>

        <br>
        <a class="btn btn-primary rounded-pill" href="{% url 'wiki:article-detail' article.pk %}">Back to article</a>
    </div>
{% endblock %}
