{% extends 'base.html' %}

{% block content %}


<form class="container p-4 border rounded bg-light shadow my-4 border-dark" method="POST">
    <h4>Edit Commission</h4>

    {% csrf_token %}
    {{ form.as_p }}

    <br>
    
    <p>
        Jobs:

        {{ job_formset.management_form }}
        {% for form in job_formset %}
        <div class="container p-4 border rounded bg-light shadow my-2 border-dark">
            {{ form.as_p }}
            <br>

        </div>
    </p>
    {% endfor %}

    <button class="btn btn-primary rounded-pill" type="submit">Submit</button>
</form>

<a class="btn btn-primary rounded-pill m-4" href="{% url 'commissions:commissions-list' %}"> Go back to Commission List </a>

{% endblock %}