{% extends 'base.html' %}
{% load static %}
{% block title %}Commission App{% endblock %}
{% block content %}


<div class="container app-content">

    <div class="container">
        <div class="d-flex justify-content-between align-items-start flex-wrap">
            <div class="d-flex align-items-center g-20">
                <h1>{{object.title}}</h1>
            </div>
        </div>
        <div class="fs-6">
            Author: {{object.author}} <br>
            Created On: {{object.createdOn}}<br>
            Updated On: {{object.updatedOn}}<br>
        </div>
        
        <p class="fs-5">
            <br>
            <b>Description:</b>
            <hr>
            {{object.description}}
            <br>
            Status: <b> {{object.get_status_display}} </b>
        </p>
        <br>
        <b class="fs-5">Jobs:</b>
        <hr>
    </div>

    <div class="container">
        {% for job in object.jobs.all %}
        <div class="container p-4 border rounded bg-light shadow">
        <p>
            <h4><b>{{job.role}}</b></h4>
            Number of People: {{job.manpowerRequired}} <br>
            Status: {{job.get_status_display}}
            {% if request.user.is_authenticated%}
            {% if request.user.profile != object.author %}
            {% if job.id in applied_job_ids %}
            <br>
            <b>Applied</b>
            {% else %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="job_id" value="{{ job.id }}">
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Apply Job</button>
            </form>
            {% endif %}
            {% else %}
            <br>
            <a class="btn btn-primary ml-5" href={{job.get_absolute_url}}>Check Applicants</a>
            {% endif %}
            {% endif %}
        </p>
        </div>
        <br>
        {% endfor %}

    </div>

    {% if request.user.profile == object.author %}
    <a class="btn btn-primary rounded-pill m-2" href="{% url 'commissions:commission-edit' pk=object.pk %}"> Edit Commission </a> <br>
    {% endif %}
    <a class="btn btn-primary rounded-pill m-2" href="{% url 'commissions:commissions-list' %}"> Go back to Commission List </a>

</div>


{% endblock %}