{% extends 'base.html' %}
{% load static %}
{% block title %}Commission App{% endblock %}
{% block content %}

<div class="header">
    <h1 class="header-brand">🗣️ Commissions</h1>
</div>

<div class="container app-content">
    {% if request.user.is_authenticated %}
    <h3>Created:</h3>
    <ul>

        {% for commission in createdCommissions %}
        <li>
            <a href={{commission.get_absolute_url}}>{{commission.title}}</a> - <b>{{commission.get_status_display}}</b>
        </li>
        {% endfor %}
    </ul>
    <h3>Applied:</h3>
    <ul>
        {% for commission in appliedCommissions %}
        <li>
            <a href={{commission.get_absolute_url}}>{{commission.title}}</a> - <b>{{commission.get_status_display}}</b>
        </li>
        {% endfor %}
    </ul>
    {% endif %}


    <h3>All:</h3>
    <ul>
        {% for commission in object_list %}
        <li>
            <a href={{commission.get_absolute_url}}>{{commission.title}}</a> - <b>{{commission.get_status_display}}</b>
        </li>
        {% endfor %}
    </ul>

    {% if request.user.is_authenticated %}
    <a href="{% url 'commissions:commission-add' %}"> Add Commission </a>
    {% endif %}

    {% if request.user.is_authenticated %}
    <br>
    <a href="{% url 'user_management:profile' username=user.username %}">Go back to profile</a>
    {% endif %}
    <br>
    <a href="{% url 'main_interface:homepage'%}">Go back to homepage</a>
    </div>
    {% endblock %}
