{% extends 'base.html' %}
{% load static %}
{% block title %}Commission App{% endblock %}
{% block content %}



<h3>{{object.title}}</h3>

<ul>
    <li>Created On: {{object.CreatedOn}}</li>
    <li>Updated On: {{object.UpdatedOn}}</li>
</ul>

<p>
    <b>Description</b>
    <br>
    {{object.description}}
</p>



<ul>
    {% for job in object.jobs.all %}
    <li>
        <p>
            <b>{{job.role}}</b> <br>
            Number of People: {{job.manpowerRequired}} <br>
            Status: {{job.get_status_display}}

        </p>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'commissions:commissionList' %}"> Go back to Commission List </a>

{% endblock %}