{% extends 'base.html' %}
{% load static %}
{% block title %}Commission App{% endblock %}
{% block content %}
<div class="header">
<h1 class="header-brand">🗣️ Commissions</h1>
</div>

<div class="container app-content">

    <h3 class="category-header">{{object.title}}</h3>

    <ul>
        <li>Created On: {{object.createdOn}}</li>
        <li>Updated On: {{object.updatedOn}}</li>
        <li>Status: {{object.get_status_display}}</li>
    </ul>

    <h2>Applicants:</h2>
    <ul>
        {% for application in object.jobApplication.all %}
        <li>
            <h4> {{application.applicant.name}}</h4>
            <p> {{application.get_status_display}} </p>

            {% if application.status == "P" %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="app_id" value="{{ application.id }}">
                {{ form.as_p }}
                <button type="submit" name="action" value="accept">Accept</button>
                <button type="submit" name="action" value="reject">Reject</button>
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'commissions:commissions-list' %}"> Go back to Commission List </a>

</div>
{% endblock %}