{% extends 'base.html' %}
{% load static %}
{% block title %}Commission App{% endblock %}
{% block content %}
<div class="container app-content">
    <div class="container">
        <h1><b>{{object.role}}</b></h1>
        <div class="fs-5">for {{object.commission.title}} </div>
        <hr>
        <h5>Status: <b>{{object.get_status_display}}</b></h5>
        <div class="fs-6">
            Created On: {{object.created_on}}<br>
            Updated On: {{object.updated_on}}<br>
            Author: {{object.commission.author}}<br>
        </div>


    </div>
        
    <br>
    <div class="container">
        <h2>Applicants:</h2>
        <hr>
        
            {% for application in object.job_application.all %}
        <div class="container p-4 border rounded bg-light shadow my-2">
            <p>
                <h4> {{application.applicant.name}}</h4>
             {{application.get_status_display}} <br>

            {% if application.status == "P" %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="app_id" value="{{ application.id }}">
                {{ form.as_p }}
                <button class="btn btn-primary rounded-pill m-2" type="submit" name="action" value="accept">Accept</button>
                <button class="btn btn-primary rounded-pill m-2" type="submit" name="action" value="reject">Reject</button>
            </form>
            {% endif %}
            </p>
        </div>
            {% endfor %}
            
        
    <a class="btn btn-primary rounded-pill m-2" href="{% url 'commissions:commission-detail' pk=object.commission.pk %}"> Go back to Commission Detail </a> <br>
    <a class="btn btn-primary rounded-pill m-2" href="{% url 'commissions:commissions-list' %}"> Go back to Commission List </a>

</div>
{% endblock %}