<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, 
                                    initialize-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <title>{% block title %}Title{% endblock %}</title>
        {% block styles %} {% endblock %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    
    </head>

    <body>
        <header>

            <nav class="navbar navbar-expand-lg px-2 py-1 m-0">
                <div class="container-fluid">
                    <!-- Left content (optional) -->
                    <h1 class="navbar-brand"><a class="nav-link" href="{% url 'main_interface:homepage' %}">HobbySite</a></h1>

                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'merchstore:merchstore-list' %}">Merchandise Store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'wiki:articles-list' %}">Wiki</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog:articles-list' %}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'forum:threads-list' %}">Forum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'commissions:commissions-list' %}">Commission</a>
                        </li>
                    </ul>

                    <!-- Right-aligned text -->
                    {% if request.user.is_authenticated %}
                        <div class="ms-auto">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'user_management:profile' username=user.username %}">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <form method="POST" action="{% url 'logout' %}">
                                        {% csrf_token %}
                                        <button class="nav-link " type="submit">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="ms-auto">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </nav>


        </header>



        <main>
            {% block content %} {% endblock %}
        </main>

        <footer>
            <div class="footer">
                <br>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>

