body {
    background-color: beige;
    margin: 0px;
    padding: 0px;
}

header #mainheader {
    position: sticky;
    text-align: center;
    background-color: #8a9a58;
    padding: 10px;
    margin: 0px;
}

main {
    margin:5px;
}
