.app-links {
	margin: 1px 0 0 0;
	padding: 0px .2px 0px .2px;
	font-size: .8rem;
	font-weight: bold;
}

.navbar-brand {
	color: white;
	padding: 1% 5% 1% 2%;
	font-size: 1.5rem;
}

.navbar {
	background-color: #4A0072;
}

.btn-primary {
	background-color: #5F0490;
	color: #FFFFFF;
	font-weight: bold;
	box-shadow: #4A0072 5px 5px;
}

.btn-primary:hover {
	background-color: #7191D6;
	color: #ffffff;
	box-shadow: #002E69 5px 5px;
	outline: none !important;
}
