@font-face {
	font-family: HB-Primary-Header;
	src: url('PalanquinDark-SemiBold.woff') format('woff');

}

.nav {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.nav-item {
	margin: 0 0 0 0;
	padding: 2.6% .2px 2.6% .2px;
	color: #ffffff;
	font-size: .8rem;
	font-weight: bold;
}

.nav-item:hover {
	background-color: #ffffff;
	color: #4A0072;
}

.nav-link {
	color: inherit;
}

.nav-link:hover {
	color: inherit;
}

.navbar-brand {
	margin: 0 0 0 0;
	color: white;
	padding: .5% 2% .5% 2%;
	font-size: 2.5rem;
}

.navbar-brand:hover {
	margin: 0 0 0 0;
	color: black;
	padding: .5% 2% .5% 2%;
	font-size: 2.5rem;
}

.navbar {
	background-color: #4A0072;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.btn-primary {
	background-color: #5F0490;
	color: #FFFFFF;
	font-weight: bold;
	box-shadow: #4A0072 5px 5px;
	padding: 6px 16px 6px 16px;
}

.btn-primary:hover {
	background-color: #7191D6;
	color: #ffffff;
	box-shadow: #002E69 5px 5px;
	outline: none !important;
}

.btn-item {
	background-color: #ffffff;
	color: #000000;
	outline:5px black;
	padding: 1rem 16px 1rem 16px;
	text-align: left;
}

.btn-item:hover {
	background-color: #E0EAFF;
	color: #000000;
	box-shadow: #002E69 5px 5px;
}

.footer {
	margin: 0 0 0 0;
	padding: .5% .5% .5% .5% ;
	background-color: #4A0072;
}

.header {
	position: sticky;
	background-color: #002E69;
	margin: 0 0 0 0;
	padding: 10px;
	text-align: center;
}

.header-brand {
	color: white;
	padding: 1% 5% 1% 2%;
	font-family: 'HB-Primary-Header';
	font-size: 3rem;
}

.category-header {
	margin: 0 0 0 2rem;
	font-family: 'HB-Primary-Header';
	font-size: 2rem;
}

html, body {
	height: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body {
	display: flex;
	flex-direction: column;
	background: #FBF4FF;
}

main {
	margin: 0 0 0 0;
	flex: 1;
}

.app-content {
	margin: 3rem 1rem 3rem 1rem;
	padding: 0 0 0 0;
}
