{% extends 'base.html' %}

{% block title %}Cart{% endblock %}
{% block content %}

<div class="container app-content">
    <h2>My Cart</h2>
    <br>

    {% regroup user_transactions by product.owner as owner_list %}
    {% for owner in owner_list %}
        <h3>{{ owner.grouper }}</h3>
        <hr>
            {% for transaction in owner.list %}
                <h4>{{ transaction.product.name }}</h4>
                <li>Amount: {{ transaction.amount }}</li>
                <li>Status: {{ transaction.status }}</li>
                <li>Bought on: {{ transaction.created_on }}</li>
            <br>
            {% endfor %}
    {% endfor %}

    <br>
    <a class="btn btn-primary rounded-pill" href="{% url 'merchstore:merchstore-list' %}">Go back to products list</a>

</div>

{% endblock %}