{% extends 'base.html' %}

{% load static %}

{% block title %}{{ object.name }}{% endblock %}
{% block content %}
    <h3>{{ object.name }}</h3>
    <a href="{% url 'merchstore:merch-edit' pk=object.pk %}">Edit</a>
    <h4>Owner: {{ object.owner }}</h4>
    <p>Description: {{ object.description }}</p>
    <p>Product Type: {{ object.producttype }}</p>
    <p>Price (₱): {{ object.price }}</p>
    <p>Stock: {{object.stock }}</p>
    <p>Product Status: {{ object.status }}</p>

    <br>

    {% if request.user.profile != object.owner %}
        <h3>Add to Cart</h3>
        <hr>
        <form method = "POST">
            {% csrf_token %}
            {{ form.as_p }} 
            <button type="submit" {% if object.stock == 0 %}disabled{% endif %}>Submit</button>
        </form>
    {% endif %}
    <br>

    <a href="{% url 'merchstore:merchstore-list' %}">Go back to products list</a>

{% endblock %}
