{% extends 'base.html' %}

{% load static %}

{% block title %}{{ object.name }}{% endblock %}
{% block content %}

<div class="container app-content">
    <div class="row g-4">
        
        <div class="col-md-6">
            {% if object.merch_image %}
                <img src="{{ object.merch_image.url }}" alt="{{ object.merch_image.url }}" style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover;" 
                 class="img-fluid rounded border">
            {% else %}
                <div class="d-flex align-items-center justify-content-center bg-secondary text-white rounded border" style="width: 100%; aspect-ratio: 1 / 1;">
                    <p class="fs-4 text-center m-0">No Available Image</p>
                </div>
            {% endif %}
        </div>

        <div class="col-md-6">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="m-0">{{ object.name }}</h2>
                <a href="{% url 'merchstore:merch-edit' pk=object.pk %}" class="btn btn-primary rounded-pill">Edit</a>
            </div>

            <hr>
            <p class="ms-3">{{ object.description }}</p>
            <p>Owner: {{ object.owner }} - <a href="{% url 'user_management:profile' username=object.owner.user.username %}">@{{ object.owner.user.username }}</a></p>
            <p>Product Type: {{ object.producttype }}</p>

            <div class="d-flex gap-3">
                {% if object.sale_percent %}
                    <p>Price (₱): <s class="text-muted fs-6">{{ object.price }}</s> {{ object.sale_price }}</p>
                    <div class="d-flex align-items-center justify-content-center bg-danger text-white rounded mb-3 px-2">
                        <p class="m-0 small">-{{ object.sale_percent }}% off!</p>
                    </div>
                {% else %}
                    <p>Price (₱): {{ object.price }}</p>
                {% endif %}
            </div>

            <p>Product Status: {{ object.status }}</p>
            <p>Stock: {{ object.stock }}</p>
        </div>
    </div>

    <br>

    {% if request.user.profile != object.owner %}
        <h3>Add to Cart</h3>
        <hr>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" {% if object.stock == 0 %}disabled{% endif %}>Submit</button>
        </form>
    {% endif %}

    <br>
    <a href="{% url 'merchstore:merchstore-list' %}" class="btn btn-primary rounded-pill">Go back to products list</a>
</div>

{% endblock %}
