{% extends 'base.html' %}

{% load static %}

{% block title %}Merchstore List{% endblock %}


{% block content %}
        
        <div class="header">
            <h1 class="header-brand">🛒 Welcome to the Merchandise Store!</h1>
        </div>

        <br>
        
        <div class="container app-content">
        {% if not request.user.is_authenticated %}
            <h3>All Products </h3>
            <hr>
            {% for product_type in object_list %}
                {% for product in product_type.type.all %}
                <li>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                </li>
                {% endfor %}
            {% endfor %}
            <br>

        {% else %}
            <h4><a href="{% url 'merchstore:merch-cart' %}">My Cart</a></h4>
            <br>
            <h3>Your Products</h3>
            <hr>
            {% for product_type in object_list %}
                    {% for product in product_type.type.all %}
                        {% if product.owner.user == user %}
                        <li>
                            <a href="{{ product.get_absolute_url }}">{{ product.producttype }}: {{ product.name }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    <br>
            {% endfor %}

            <br>
            <h4><a  href="{% url 'merchstore:merch-add' %}">Want to create a new product?</a></h4>
            <h4><a href="{% url 'merchstore:merch-transactions' %}">My Transactions</a></h4>
            
            <br>
            <h3>All Products</h3>
            <hr>
            {% for product_type in object_list %}
                {% for product in product_type.type.all %}
                    {% if product.owner.user != user %}
                    <li>
                        <a href="{{ product.get_absolute_url }}">{{ product.owner.user.get_username }}: {{ product.name }}</a>
                    </li>
                    {% endif %}
                    <br>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
        </div>
{% endblock %}


