{% extends 'base.html' %}

{% block title %}Editing{% endblock %}
{% block content %}

<div class="container app-content">
    <h3>Edit my product</h3>
    <hr>
    <form method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit" data-show-if="object.stock != 0">Submit</button>
    </form>

    <br>
    <a class="btn btn-primary rounded-pill" href="{% url 'merchstore:merchstore-item' pk=object.pk %}">Go back to my product</a>
</div>

{% endblock %}