{% extends 'base.html' %}

{% load static %}

{% block title %}Merchstore{% endblock %}


{% block content %}
        
    <div class="header">
        <h1 class="header-brand">🛒 Welcome to the Merchandise Store!</h1>
    </div>
    
    <div class="container-fluid mx-0 app-content">

        <div class="container">
        {% if not request.user.is_authenticated %}
            <hr>
            <h3 class="row category-header">All Products </h3>
            <hr>
            <ul>
                {% for product_type in object_list %}
                {% for product in product_type.type.all %}
                <li>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                </li>
                {% endfor %}
                {% endfor %}
            </ul>
            <br>

        </div>

        {% else %}
        
        <div class="container">
            <div class="d-flex justify-content-end mb-3">
                <h4 class="text-end"><a class="btn btn-primary rounded-pill" href="{% url 'merchstore:merch-cart' %}">My Cart</a></h4>
            </div>
            <br>
            
            <hr>
            <h3 class="row category-header">Your Products for Sale</h3>
            <hr>
            {% if hasSale %}
            <ul>
                {% for product_type in object_list %}
                {% for product in product_type.type.all %}
                {% if product.owner.user == user and product.status == 'SALE' %}
                <li>
                    <a href="{{ product.get_absolute_url }}">{{ product.producttype }}: {{ product.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ul>
                {% else %}
                <p>You have not made any product.</p>
            {% endif %}


            <hr>
            <h3 class="row category-header">Your Products</h3>
            <hr>
            {% if hasProduct%}
            <ul>
                {% for product_type in object_list %}
                {% for product in product_type.type.all %}
                {% if product.owner.user == user and product.status != 'SALE' %}
                <li>
                    <a href="{{ product.get_absolute_url }}">{{ product.producttype }}: {{ product.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ul>
            {% else %}
                <p>You have not made any product.</p>
            {% endif %}

            
            <div style="display: flex; justify-content: center; gap: 20px; margin: 20px;">
                <h4><a class="btn btn-primary" href="{% url 'merchstore:merch-add' %}">Create a new Product</a></h4>
                <h4><a class="btn btn-primary" href="{% url 'merchstore:merch-transactions' %}">My Transactions</a></h4>
            </div>
            
            <hr>
            <h3 class="row category-header">All Products</h3>
            <hr>
            {% for product_type in object_list %}
                <h4>All {{ product_type }}</h4>
                {% for product in product_type.type.all %}
                    {% if product.owner.user != user %}
                    <li>
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                <br>
            {% endfor %}
        {% endif %}
    
    </div>
{% endblock %}


